@charset "UTF-8";


@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#ilogin {
        width: 90vw;
        height: 300px;
    }
    section#ilogin>div#iimagem {
        float: left;
        width: 35%;
        height: 100%;
    }
    section#ilogin>div#iformu {
        float: right;
        width: 65%;
    }
}
@media screen and (min-width: 993px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#ilogin {
        width: 900px;
        height: 400px;
    }
    section#ilogin>div#iimagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    section#ilogin>div#iformu {
        float: right;
        width: 50%;

        font-size: 1.2em;
    }
    section#ilogin>div#iformu>h1 {
        font-size: 2em;
    }
}