@charset "UTF-8";

/*
    Paletas de Cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    height: 100vh;
    width: 100vw;
    background-color: #5f2c82;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
#ilogin {
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.589);
    overflow: hidden;
    
    transform: translate(-50%, -50%);
    transition: width .3s, heigth .3s;
}
div {
    display: block;
    margin-bottom: 5px;
}
div#iimagem {
    background: #5f2c82 url('../imagens/login.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
}
div#iformu {
    padding: 10px;
}
#iformu>h1 {
    text-align: center;
    margin-bottom: 10px;
}
#iformu>p { 
    font-size: 0.8em;
    margin-bottom: 20px;
}
form>div.ccampo {
    background-color: hsl(276, 76%, 60%);
    width: 100%;
    height: 40px;
    border: 2px solid hsl(276, 76%, 60%);;
    border-radius: 8px;
    margin: 5px 0px;
}
span {
    width: 40px;
    color: white;
    font-size: 2em;
    padding: 5px;    
}
div.ccampo>input {
    background-color: #66e6e1;
    font-size: 1em;
    width: calc(100% - 37px); /*esse comando calc permite fixar o input na div*/
    height: 100%;
    padding: 4px;
    border: 0px;
    border-radius: 8px;
    
    transform: translate(37px, -34px);
}
div.ccampo>input:focus-within {
    background-color: white;
}
form > input[type=submit] {
    display: block;
    width: 100%;
    background-color: #49a09d;
    font-size: 1em;
    margin: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form>input[type=submit]:hover {
    background-color: #326d6b;
    color: white;
}
form>a {
    display: block;
    color: #49a09d;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    margin-top: 7px;
}
form>a:hover {
    text-decoration: underline;
}